.forminput {
  background: inherit;
  color: grey;
  font-size: 14px;
  padding: 8px 10px 10px 40px;
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  background: #ffffff;
}

.forminput:focus {
  outline: none;
  color: black;
}

input::placeholder,
textarea::placeholder {
  opacity: 0.6;
  font-size: 12px;
}

input[type="date"]::before {
  content: attr(placeholder);
  position: absolute;
  color: rgba(0, 0, 0, 0);
}

input[type="date"] {
  color: rgba(0, 0, 0, 1);
}

label {
  margin: 0px;
  padding: 0px;
}

/* input[type="submit"] {
  background-color: #4caf50;
  cursor: pointer;
}*/

input[type="submit"]:hover {
  background-color: #f6f8f6;
}
