@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  /* font-family: var(--general-font); */
  /* background: var(--offWhite); */
  font-family: "Space Grotesk", sans-serif;
  background-color: #ffffff;
  font-size: 14px;
  line-height: 1.42857143;
  color: var(--Text-Body-color);
  /* overflow-x: hidden; */
  /* margin-top: 80px; */
}

img {
  max-width: 100% !important;
  vertical-align: middle;
  border: none;
}
a {
  color: var(--Text-Body-color);
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
