.custom-button {
  min-width: 100px;
  width: auto;
  height: 40px;
  letter-spacing: 0.5px;
  line-height: 45px;
  padding: 0 30px 0 30px;
  font-size: 15px;
  background-color: #3d8f83;
  display: inline-block;
  justify-content: center;
  color: #fff;
  text-transform: uppercase;
  font-family: "Open Sans Condensed";
  font-weight: bolder;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.custom-button:hover {
  background-color: whitesmoke;
  color: #3d8f83;
  border: 1px solid black;
}
